/* Import estilo de letra*/

@import url('https://fonts.googleapis.com/css2?family=Mada:wght@200;300;500&display=swap');

/* Variables */

:root {

    /* Palette*/
    --primary: rgb(10, 10, 10); 
    --secondary: #4ECDC4; 
    --ligth: #FFFFFF;
    --accent: #8C1C13;
   
    /* Font Sizes*/
    --text-xxl: 20px;
    --text-xl: 18px;
    --text-lg: 16px;
    --text-md: 14px;
    --text-sm: 12px;
    --text-xs: 10px;

    /*Spacing*/
    --sp-xxl: 12rem;
    --sp-xl: 8rem;
    --sp-lg: 5rem;
    --sp-md: 3.2rem;
    --sp-sm: 1.6rem;
    --sp-xs: 0.8rem;

}

/*Normalize*/

* {
margin: 0;
padding: 0;
box-sizing: border-box ;
}

html {
font-size: 62.5%;
}

body {
    font-family: 'Mada', sans-serif;
    font-size: var(--text-xl);
}

/*Header*/

/*FIJAR HEADER*/
header{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    background-color: #cf833c;
    z-index: 2;
}

/*FIJAR HEADER*/

.navbar{
    font-size: var(--text-xl);
}
.navbar ul{
    list-style-type: none;
     display: flex ;
}
.navbar  li a {

    display:block;
    padding: 0.3rem 0.6rem;
    text-decoration: none;
    color: black;
}
.navbar li a:hover {
background-color: var(--secondary);
transition: all 1s ease-in-out;
}
.navbar li ul {
display:none;
position: absolute;
/*min-width: 1rem;*/
}
.navbar li:hover > ul{
display: block;
}
.submenu{
    background-color: var(--ligth);
}

@media screen and (max-width:620px) {
    header{
        position: sticky;
        display: list-item; 

    }
    .navbar ul {
       flex-direction: column;
 
    } 
 }

footer {
    padding: 1em 0;
    text-align: center;
    background-color: var(--primary);
    color: var(--ligth);
    font-size: var(--text-sm);
}
