/* Import estilo de letra*/

@import url('https://fonts.googleapis.com/css2?family=Mada:wght@200;300;500&display=swap');

/* Variables */

:root {

    /* Palette*/
    --primary: rgb(10, 10, 10); 
    --secondary: #4ECDC4; 
    --ligth: #FFFFFF;
    --accent: #8C1C13;
   
    /* Font Sizes*/
    --text-xxl: 20px;
    --text-xl: 18px;
    --text-lg: 16px;
    --text-md: 14px;
    --text-sm: 12px;
    --text-xs: 10px;

    /*Spacing*/
    --sp-xxl: 12rem;
    --sp-xl: 8rem;
    --sp-lg: 5rem;
    --sp-md: 3.2rem;
    --sp-sm: 1.6rem;
    --sp-xs: 0.8rem;

}

/*Normalize*/

* {
margin: 0;
padding: 0;
box-sizing: border-box ;
}

html {
font-size: 62.5%;
}

body {
    font-family: 'Mada', sans-serif;
    font-size: var(--text-xl);
}

/*Header*/

/*FIJAR HEADER*/
header{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    z-index: 1;
    height: 10rem;
}

.logo section{
    margin: auto;
}

/*FIJAR HEADER*/

.navbar{
    font-size: var(--text-xl);
}
.navbar ul{
    list-style-type: none;
     display: flex ;
}
.navbar  li a {

    display:block;
    padding: 0.6rem 0.9rem;
    text-decoration: none;
    color: black;
    
}
.navbar li a:hover {
background-color: var(--primary);
color: #ffffff !important;
transition: all 0.5s ease-in-out;
border: 1px solid;

}
.dropdown-menu{
    font-size: var(--text-md);
}
.navbar li ul {
    gap: 0.6rem;
display:none;
position: absolute;
/*min-width: 1rem;*/
}
.navbar li:hover > ul{
display: block;
}
.submenu {
    background-color: var(--ligth);
}

.control-carucel{
    background-color: black;
    /*color: white !;*/
}

@media screen and (max-width:620px) {
    header{
        position: sticky;
        display: list-item; 
    }
    .navbar ul {
       flex-direction: column;
 
    } 
 }
 .principal div{
    align-content: center;

 }
 main {
    align-content: center;
 }
 .carousel {
    padding: 4rem 4rem;
    background-color: rgba(67, 67, 219, 0.74);
 }
.row div:hover{
    padding: 2rem;
    transition: all 1s;
transform: scale(1,1);
}

 article {
    padding: 2rem;
}
/*span{
    background-color: rgb(231, 139, 33);
}*/
 .container article img:hover{
    transform: scale(0.9, 0.9);
}
.container div {
display:flexbox;
justify-content: center;
}
.bg-warning bg-gradient text-dark{
    justify-items: center;
    text-align: center;
}

footer {
    padding: 1em 0;
    text-align: center;
    background-color: var(--primary);
    color: var(--ligth);
    font-size: var(--text-sm);
}
